<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon-16x16.png">

    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    
    <!--==================== SWIPER CSS ====================-->
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    
    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="../css/styles.css">

    <title>Portfólio | Mayara Silva</title>
</head>
<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Mayara</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="/" class="nav__link active-link">
                            <i class="uil uil-estate nav__icon"></i>Início
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>

            <div class="nav__btns">
                <!-- Theme change button -->
                <i class="uil uil-moon change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-list-ul"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">

        <!--==================== CERTIFICADOS ====================-->
        <section class="certificados section" id="certificados">
            <h2 class="section__title">Certificados</h2>
            <hr> <br><br><br>

            <!--==================== FSPHP ====================-->
            <span class="section__subtitle" style="margin-top: 50px;">Formação Full Stack PHP Developer - FSPHP</span>
            
            <div class="certificados__container container swiper-container">
                <!--==================== CERTIFICADOS ====================-->
                <div class="swiper-wrapper" id="certificados-fsphp"></div>
                
                <!-- Add Arrows -->
                <div class="swiper-button-next">
                    <i class="uil uil-angle-right-b swiper-certificados-icon"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="uil uil-angle-left-b swiper-certificados-icon"></i>
                </div>
                
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>

            <!--==================== B7WEB ====================-->
            <span class="section__subtitle" style="margin-top: 100px;">B7Web</span>
            
            <div class="certificados__container container swiper-container">
                <!--==================== CERTIFICADOS ====================-->
                <div class="swiper-wrapper" id="certificados-b7web"></div>
                
                <!-- Add Arrows -->
                <div class="swiper-button-next">
                    <i class="uil uil-angle-right-b swiper-certificados-icon"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="uil uil-angle-left-b swiper-certificados-icon"></i>
                </div>
                
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>

            <!--==================== DIO ====================-->
            <span class="section__subtitle" style="margin-top: 100px;">Digital Innovation One - DIO</span>
            
            <div class="certificados__container container swiper-container">
                <!--==================== CERTIFICADOS ====================-->
                <div class="swiper-wrapper" id="certificados-dio"></div>
                
                <!-- Add Arrows -->
                <div class="swiper-button-next">
                    <i class="uil uil-angle-right-b swiper-certificados-icon"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="uil uil-angle-left-b swiper-certificados-icon"></i>
                </div>
                
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </section>

    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Mayara</h1>
                    <span class="footer__subtitle">Full Stack PHP Developer</span>
                </div>

                <div class="footer__socials">
                    <a href="https://www.linkedin.com/in/devmayara/" target="_blank" class="footer__social">
                        <i class='uil uil-linkedin-alt'></i>
                    </a>
                    <a href="https://www.t.me/devmayara" target="_blank" class="footer__social">
                        <i class='uil uil-telegram-alt'></i>
                    </a>
                    <a href="https://github.com/devmayara" target="_blank" class="footer__social">
                        <i class='uil uil-github-alt'></i>
                    </a>
                    <a href="https://www.instagram.com/devmayara/" target="_blank" class="footer__social">
                        <i class='uil uil-instagram'></i>
                    </a>
                </div>
            </div>

            <p class="footer__copy">&#169; <span id="ano-atual"></span> Todos os direitos reservados.</p>
        </div>
    </footer>

    <!--==================== SWIPER JS ====================-->
    <script src="../js/swiper-bundle.min.js"></script>

    <!--==================== INDEX JS ====================-->
    <script src="../js/index.js"></script>

    <!--==================== CERTIFICATES JS ====================-->
    <script src="../js/certificates.js"></script>
</body>
</html>
