<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    
    <!--==================== SWIPER CSS ====================-->
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    
    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="../css/styles.css">

    <title>Portfólio | Mayara Silva</title>
</head>
<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Mayara</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">
                            <i class="uil uil-estate nav__icon"></i>Início
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">
                            <i class="uil uil-user nav__icon"></i>Sobre
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <i class="uil uil-file-alt nav__icon"></i>Skills
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#services" class="nav__link">
                            <i class="uil uil-briefcase-alt nav__icon"></i>Serviços
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#portfolio" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i>Portfólio
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">
                            <i class="uil uil-message nav__icon"></i>Contato
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>

            <div class="nav__btns">
                <!-- Theme change button -->
                <i class="uil uil-moon change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-list-ul"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home section" id="home">
            <div class="home__container container grid" style="height: 30vh; margin-top: 150px;">

                <div class="home__data">
                    <h1 class="home__title">Obrigada pelo Contato!</h1>
                    <p>Em breve estarei te respondendo. &#x1F609; </p> <br>
                    <a href="#contact" class="button button--flex" onclick="javascript:history.go(-1)">
                        <i class="uil uil-arrow-left button__icon"></i> Voltar
                    </a>
                </div>
            </div>
        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Mayara</h1>
                    <span class="footer__subtitle">Full Stack PHP Developer</span>
                </div>
                <ul class="footer__links">
                    <li>
                        <a href="#services" class="footer__link">Serviços</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="footer__link">Portfólio</a>
                    </li>
                    <li>
                        <a href="#contact" class="footer__link">Contato</a>
                    </li>
                </ul>

                <div class="footer__socials">
                    <a href="https://www.linkedin.com/in/devmayara/" target="_blank" class="footer__social">
                        <i class='uil uil-linkedin-alt'></i>
                    </a>
                    <a href="https://www.t.me/devmayara" target="_blank" class="footer__social">
                        <i class='uil uil-telegram-alt'></i>
                    </a>
                    <a href="https://github.com/devmayara" target="_blank" class="footer__social">
                        <i class='uil uil-github-alt'></i>
                    </a>
                    <a href="https://www.instagram.com/devmayara/" target="_blank" class="footer__social">
                        <i class='uil uil-instagram'></i>
                    </a>
                </div>
            </div>

            <p class="footer__copy">&#169; Todos os direitos reservados.</p>
        </div>
    </footer>

    <!--==================== SWIPER JS ====================-->
    <script src="../js/swiper-bundle.min.js"></script>

    <!--==================== MAIN JS ====================-->
    <script src="../js/main.js"></script>
</body>
</html>